In [ ]:
ndo

## Pandas DataFrame: Criando a partir de uma lista

In [ ]:
import pandas as pd

last_names = ['Connor', 'Connor', 'Reese']
first_names = ['Sarah', 'John', 'Kyle']
df = pd.DataFrame({
  'first_name': first_names,
  'last_name': last_names,
})
df

## Pandas DataFrame: renomeando colunas

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Year': [2016, 2015, 2014, 2013, 2012],
    'Top Animal': ['Giant panda', 'Chicken', 'Pig', 'Turkey', 'Dog']
})

df.rename(columns={
    'Year': 'Calendar Year',
    'Top Animal': 'Favorite Animal',
}, inplace=True)
df

## Pandas DataFrame: Query com regexp (regular expression)

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle', 'Joe'],
  'last_name': ['Connor', 'Connor', 'Reese', 'Bonnot'],
})

df[df.last_name.str.match('.*onno.*')]

## Pandas DataFrame: Query usando o nome da variável

Evaluate a variable as the value to find.

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})

foo = 'Connor'
df.query('last_name == @foo')

## Pandas: Alterando valores  NaN ( (do inglês Not a Number) em uma coluna (NaN pode ser valores não preenchidos: por exemplo, não digitaram a cidade de uma pessoa)

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
  'dogs': [5, 10, np.nan, 7],
})

df['dogs'].replace(np.nan, 0, regex=True)

## Pandas DataFrame: Ignore uma coluna. O nodo dataframe receberá as colunas selecionadas

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle', 'Joe'],
  'last_name': ['Connor', 'Connor', 'Reese', 'Bonnot'],
})

novo_df =df.loc[:, df.columns!='last_name']
novo_df

##lendo dados de uma fonte na internet
O arquivo CSV é  um arquivo de texto, separado por algum caracter (; no nosso caso)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/brunamulinari/BasicPythonProjects/main/Base_ficticia/baseficticia.csv', sep = ';')

## Apresentando os primeiros 10 registros

In [ ]:
df.head(10)

## head mostra as primeiras linhas, tal mostra as ultimas

In [ ]:
df.tail(n=5)

##Qual o formato do nosso dataframe ?

In [ ]:
df.shape

##Qual a estrutura do nosso dataframe ?

In [ ]:
df.info()

## Descrevendo o dataframe

In [ ]:
df.describe()

##Exibindo apenas algumas colunas (tem que usar [[ e ]] mesmo !)

In [ ]:
df_novo=df[['produto','quantidade']]
df_novo.head(2)

#Repetindo, usando loc

> 1:5 determina que somente as linhas de 1 a 5 sejam copiadas

> ['produto','quantidade'] determina que somente estas duas colunas foram copiadas

In [ ]:
df_novo = df.loc[1:5, ['produto','quantidade']]
df_novo.head(10)

#Exibindo apenas algumas colunas

In [ ]:
df[['produto','quantidade']].head(5)

#Exibindo apenas os valores não repetidos de uma coluna. Se ela tiver vários valores, só aparece um de cada !

In [ ]:
df['setor'].unique()

#Contando quantas ocorrencias de cada valor na coluna SETOR

In [ ]:
df['setor'].value_counts()

## E em order crescente?

In [ ]:
df['setor'].value_counts().sort_values(ascending = True)

##Que esquisito, não? temos 3 setores informatica, mas com case diferente entre elas...
###Que tal transformar tudo em maiuscula e repetir?
###Vamos criar uma função (DEF) que retorna maiusculas e chamar dentro do proprio pandas

In [ ]:
def transforma_para_minusculas(x):
   return(str(x).upper())
df['setor'] = df['setor'].apply(func = transforma_para_minusculas)
df['setor'].value_counts()

## Nada como uma imagem para apresentar dados !

In [ ]:
df['setor'].value_counts().plot(kind='bar')